
.common{
    text-align: center;
    
}
.header{
    background-color: rgb(217, 68, 123);
    color: white;
    height: 100px;
    line-height: 100px;
    
}

.mainbody{
    background-color: pink;
}

.footer{
    position: fixed;
    background-color: rgb(217, 68, 123);
    color: white;
    bottom: 0px;
    left: 5px; 
    right: 5px;
    height: 25px;
    line-height: 25px;
}

img{
    display:block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

nav{
    background-color: rgb(217, 90, 133);
    padding: 10px;
    overflow:hidden;
}

nav a{
    color: #333;
    text-decoration: none;
    padding: 20px;
}

nav a:hover{
    background-color: #ccc;
}

.centered-list{
    padding-left: 0;
    list-style-position: inside;
    margin: auto;
    display: table;
    text-align:center;
}
